<div class="main-wrapper">
    <app-header></app-header>
    <app-left-menu></app-left-menu>
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Chỉnh sửa thông tin</h4>
                </div>
            </div>
            <form>
                <div class="card-box">
                    <h3 class="card-title">Thông tin cơ bản</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="profile-img-wrap">
                                <img class="inline-block" src="assets/resource/img2/user.jpg" alt="user">
                                <div class="fileupload btn">
                                    <span class="btn-text">edit</span>
                                    <input class="upload" type="file">
                                </div>
                            </div>
                            <div class="profile-basic">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group form-focus">
                                            <label class="focus-label">Họ</label>
                                            <input #lastname type="text" class="form-control floating" value="">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-focus">
                                            <label class="focus-label">Tên đệm</label>
                                            <input #middleName type="text" class="form-control floating" value="">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-focus">
                                            <label class="focus-label">Tên</label>
                                            <input #firstName type="text" class="form-control floating" value="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <label class="focus-label">Sinh nhật</label>
                                            <div class="cal-icon">
                                                <input #birthday class="form-control floating datetimepicker" type="text" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group row">
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <input #genderNam name="gender" id="male" type="radio" value="Nam" >
                                                        </span>
                                                    </div>
                                                    <input type="text" class="form-control" value="Nam" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group row">
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <input #genderNu name="gender" id="female" type="radio" value="Nữ">
                                                        </span>
                                                    </div>
                                                    <input type="text" class="form-control" value="Nữ" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-box">
                    <h3 class="card-title">Thông tin liên hệ</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-focus">
                                <label class="focus-label">Địa chỉ</label>
                                <input #address type="text" class="form-control floating" value="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label class="focus-label">Email</label>
                                <input #phoneNumber type="text" class="form-control floating" value="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label class="focus-label">Điện thoại</label>
                                <input #email type="text" class="form-control floating" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-box">
                    <h3 class="card-title">Education Informations</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label class="focus-label">Institution</label>
                                <input type="text" class="form-control floating" value="Oxford University">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label class="focus-label">Subject</label>
                                <input type="text" class="form-control floating" value="Computer Science">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label class="focus-label">Starting Date</label>
                                <div class="cal-icon">
                                    <input type="text" class="form-control floating datetimepicker" value="01/06/2002">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label class="focus-label">Complete Date</label>
                                <div class="cal-icon">
                                    <input type="text" class="form-control floating datetimepicker" value="31/05/2006">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label class="focus-label">Degree</label>
                                <input type="text" class="form-control floating" value="BE Computer Science">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label class="focus-label">Grade</label>
                                <input type="text" class="form-control floating" value="Grade A">
                            </div>
                        </div>
                    </div>
                    <div class="add-more">
                        <a href="#" class="btn fhc-button"><i class="fa fa-plus"></i> Add More Institute</a>
                    </div>
                </div>
                <div class="card-box">
                    <h3 class="card-title">Experience Informations</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label class="focus-label">Company Name</label>
                                <input type="text" class="form-control floating" value="Digital Devlopment Inc">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label class="focus-label">Location</label>
                                <input type="text" class="form-control floating" value="United States">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label class="focus-label">Job Position</label>
                                <input type="text" class="form-control floating" value="Web Developer">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label class="focus-label">Period From</label>
                                <div class="cal-icon">
                                    <input type="text" class="form-control floating datetimepicker" value="01/07/2007">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label class="focus-label">Period To</label>
                                <div class="cal-icon">
                                    <input type="text" class="form-control floating datetimepicker" value="08/06/2018">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add-more">
                        <a href="#" class="btn fhc-button"><i class="fa fa-plus"></i> Add More Experience</a>
                    </div>
                </div>
                <div class="text-center m-t-20">
                    <button (click)="updateProfile()" class="btn fhc-button" type="button">Save</button>
                </div>
            </form>
        </div>
        <app-message-menu></app-message-menu>
    </div>
</div>
