<main>
    <div #notiContent id="notification" class="notification"></div>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="guest" class="logo d-flex align-items-center w-auto">
                  <img src="assets/img/logo.png" alt="">
                  <span class="d-none d-lg-block">FPT Hospital Care</span>
                </a>
              </div>

              <div class="card mb-3">
                <div class="card-body">
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Đăng ký tài khoản</h5>
                  </div>
                  <form [formGroup]="signupForm" (ngSubmit)="register()" class="row g-3 needs-validation" novalidate>
                    <div class="col-12">
                      <label for="yourName" class="form-label">Họ và tên</label>
                      <app-common-component
                        [type]="'text'"
                        [form]="signupForm"
                        [controlName]="'yourName'"
                        [id]="'yourName'"
                      ></app-common-component>
                    </div>

                    <div class="col-12">
                      <label for="yourEmail" class="form-label">Email</label>
                      <app-common-component
                        [type]="'text'"
                        [form]="signupForm"
                        [controlName]="'yourEmail'"
                        [id]="'yourEmail'"
                      ></app-common-component>
                    </div>

                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Tài khoản</label>
                      <app-common-component
                        [type]="'text'"
                        [form]="signupForm"
                        [controlName]="'yourUsername'"
                        [id]="'yourUsername'"
                      ></app-common-component>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Mật khẩu</label>
                      <app-common-component
                        [type]="'text'"
                        [form]="signupForm"
                        [controlName]="'yourPassword'"
                        [id]="'yourPassword'"
                      ></app-common-component>
                    </div>

                    <div class="col-12">
                      <button class="btn fhc-button" type="submit">Đăng ký</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Đã có tài khoản? <a href="dang-nhap">Đăng nhập</a></p>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

    </div>
  </main>