<app-header></app-header>
<app-left-menu></app-left-menu>
<main id="main" class="main">
  <section class="section min-height-740">
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body min-height-550">
            <h1 class="card-title-2 text-center">QR Code</h1>
            <hr />
            <div class="row">
              <div class="col-lg-12 vd">
                <video id="webcam-preview" autoplay playsinline></video>
              </div>
              <div class="col-lg-12">
                <form class="row g-3">
                    <div class="text-center">
                        <button (click)="unHideNote()" onclick="startCamera()" type="button" class="fhc-button rounded-pill">
                            Quét mã
                          </button>
                          <hr>
                          <input onchange="scanQrByImg(event)" class="form-control" type="file" id="fileInput" accept="image/*">
                          <hr>
                          <h5 *ngIf="unHide" class="card-title">Di chuyển mã QR vào trong khung máy ảnh.</h5>
                      </div>
                </form>      
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4" >
        <div class="card">
          <div class="card-body min-height-550">
            <h1 class="card-title-2 text-center">Mã QR Code</h1>
            <hr />
            <div class="row mb-3 text-center">
              <div id="scannerResult" class="col-sm-12 text-center"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
